<body>

    <div class="card text-center" style="width: 400px; margin-left: 400px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">

            <div class="form-outline">
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                    <input type="password" formControlName="password" class="form-control my-3" placeholder="Password">
                    <input type="password" formControlName="passwordConfirmation" class="form-control my-3"
                        placeholder="Confirm Password">
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                    <div *ngIf="passwordForm.hasError('passwordsDoNotMatch')">
                        Passwords do not match.
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>