<body>

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">
                                <form #empLogin="ngForm" novalidate (ngSubmit)="validateLogin(empLogin.value)">
                                    <div class="form-outline form-white mb-4">
                                        <input type="email" name="EmailId" id="typeEmailX"
                                            class="form-control form-control-lg" placeholder="Enter your Email-Id"
                                            ngModel #emailId="ngModel" email minlength="2" maxlength="30" required />

                                    </div>
                                    <div *ngIf="(emailId.errors?.['required'] && emailId.touched && emailId.invalid ) || (emailId.invalid && emailId.touched) || emailId.errors?.['minlength'] || emailId.invalid && emailId.dirty "
                                        class="errors">
                                        <p>!Please enter valid EmailId</p>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" name="password" id="typePasswordX"
                                            class="form-control form-control-lg" placeholder="Enter your password"
                                            ngModel #password="ngModel" minlength="2" maxlength="38" required />

                                    </div>
                                    <div *ngIf="(password.errors?.['required'] && password.touched && password.invalid ) || (password.invalid && password.touched) || password.errors?.['minlength'] "
                                        class="errors">
                                        <p>!Please enter valid password</p>
                                    </div>

                                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" routerLink="forgetemp">Forgot
                                            password?</a>
                                    </p>

                                    <button class="btn btn-outline-light btn-lg px-5" [disabled]="!empLogin.valid"
                                        type="submit">Login</button>
                                </form>

                            </div>

                            <div>
                                <p class="mb-0">Are you a new client?<br><button
                                        class="btn btn-outline-light btn-lg px-5">Register Now</button>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>