.gradient-custom {
    /* fallback for old browsers */
    background: #2d2c2f;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(59, 58, 60), rgb(41, 42, 43));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0))
}