<body>
  <div class="testbox">
    <form #applyForm="ngForm" (ngSubmit)="submit(applyForm.value)" novalidate>
      <div class="banner">
        <h1>Job Application Form</h1>
      </div>
      <p class="top-info">Thank you for your interest in working with us. Please check below for available job
        opportunities that meet your criteria and send your application by filling out the Job Application Form.</p>
      <div class="item">
        <p>Name<span class="required">*</span></p>
        <div class="name-item">
          <input type="text" name="name" placeholder="Fullname" required ngModel #fullName="ngModel" />
        </div>
        <div class="item">
          <p>Date of birth<span class="required">*</span></p>
          <input type="date" name="bdate" required ngModel #dob="ngModel" />
          <!-- <i class="fas fa-calendar-alt"></i> -->
        </div>
        <div class="item">
          <p>Gender<span class="required">*</span></p>
          <select name="gender" required ngModel #gender="ngModel">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">others</option>

          </select>
        </div>

      </div>
      <div class="contact-item">
        <div class="item">
          <p>EmailId<span class="required">*</span></p>
          <input type="emailId" name="Email" required email ngModel #EmailId="ngModel" />
        </div>
        <div class="item">
          <p>Phone<span class="required">*</span></p>
          <input type="text" name="Phone" required phone ngModel #phone="ngModel" />
        </div>
        <div class="item">
          <p>Address<span class="required">*</span></p>
          <textarea type="text" name="Address" required rows="3" [cols]="72" ngModel #address="ngModel"> </textarea>
        </div>
      </div>
      <div class="item">
        <p>School Name<span class="required">*</span></p>
        <input type="text" name="School" required ngModel #school="ngModel" />
      </div>
      <div class="item">
        <p>School Percentage<span class="required">*</span></p>
        <input type="number" name="SchoolPercentage" required ngModel #schoolper="ngModel" />
      </div>
      <div class="item">
        <p>Inter/Diploma<span class="required">*</span></p>
        <input type="text" name="Inter" required ngModel #inter="ngModel" />
      </div>
      <div class="item">
        <p>College Percentage<span class="required">*</span></p>
        <input type="number" name="CollegePercentage" required ngModel #collegeper="ngModel" />
      </div>
      <div class="item">
        <p>Graduation<span class="required">*</span></p>
        <input type="text" name="Graduation" required ngModel #graduation="ngModel" />
      </div>

      <div class="item">
        <p>Graduation Percentage<span class="required">*</span></p>
        <input type="number" name="GraduationPercentage" required ngModel #gradper="ngModel" />
      </div>
      <div class="item">
        <p>PassedOut<span class="required">*</span></p>
        <input type="number" name="PassedOut" required ngModel #passedout="ngModel" />
      </div>

      <div class="item">
        <p>LinkedIn<span class="required">*</span></p>
        <input type="text" name="LinkedIn" required ngModel #linkedin="ngModel" />
      </div>


      <div class="btn-block">
        <button type="submit" class="btn btn-success" [disabled]="!applyForm.valid">Apply For The Job</button>
      </div>
    </form>
  </div>
</body>