body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2980b9, #6dd5fa);
    background-size: cover;
    color: #fff;
    height: auto;
    padding: 30px;
}

.testbox {
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 120vh;
    margin-left: 250px;

}

.banner {
    background: #3498db;
    padding: 10px 0;
    border-radius: 5px;
}

.item {
    margin: 20px 0;
    text-align: left;
}

.item p {
    margin: 0 0 5px 0;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #27ae60;
}

.required {
    color: #e74c3c;
}

.top-info {
    font-size: 18px;
    margin-bottom: 20px;
}