body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 20px;
    height: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.mission-list {
    list-style-type: square;
    margin-bottom: 20px;
}

.highlight {
    color: #FF5733;
}