<form #otpform="ngForm" novalidate (ngSubmit)="validateotp(otpform.value)">
    <div style="width: 250px;">

        <div>
            <input type="number" class="form-control" type="text" name="otp" ngModel #otp="ngModel"
                placeholder="Enter your otp" required minlength="6" maxlength="6">
        </div>

        <div align="center">
            <button class="btn btn-primary" [disabled]="!otpform.valid">Register</button>
        </div>
    </div>
</form>