<div class="footer">
    <div class="container">
        <div class="row">


            <div class="col-6 footer-col-4">
                <h3>Smart<span>Fix</span></h3>
                <ul>
                    <li> About</li>
                    <li> <a routerLink="contact">Contact us</a></li>


                </ul>
            </div>
            <div class="col-6 footer-col-4">
                <h3>Useful Links</h3>
                <ul>
                    <li> Careers</li>

                    <li> For Media</li>


                </ul>
            </div>
            <div class="col-6 footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">copyright-reserved @VintageCareer</p>
    </div>
</div>

<!-- partial -->


<script>

    const toggle_Btn = document.querySelector('#checkbox');
    const navbarLinks = document.querySelectorAll('.navbar__links')

    toggle_Btn.addEventListener('change', () => {
        if (toggle_Btn.checked) {
            for (const box of navbarLinks) {
                box.style.color = '#000';
            }
            document.body.style.backgroundColor = "#f5f5f5"
            document.body.style.color = "#000"
        } else {
            for (const box of navbarLinks) {
                box.style.color = '#f5f5f5';
            }
            document.body.style.backgroundColor = "#000"
            document.body.style.color = "#f5f5f5"
        }


    })
</script>