@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-main: #f5f5f5;
  --bg-back: #000;
}

body {
  background-color: var(--bg-back);
  color: var(--bg-main);
}


a {
  color: var(--bg-main);
}

.navbar {
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  text-transform: uppercase;
}

#navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: 0.4s;
}

#navbar__logo:hover {
  scale: 105%;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.navbar__links:hover {
  scale: 105%;
}

.main {
  width: 100vw;
  height: 35.8vh;
  background-color: #7a7878;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main h2 {
  letter-spacing: 0.1em;
}

.toggle-btn {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

#checkbox {
  visibility: hidden;
}

#checkbox:checked+.toggle-label .toggle-ball {
  transform: translateX(1rem);
  background-color: #000;
}

.toggle-label {
  position: relative;
  width: 3rem;
  height: 2rem;
  background: #ccc;
  display: inline-block;
  border-radius: 5rem;
}

.toggle-ball {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  transition: 0.3s;
}



/* ------------------ footer --------------------- */

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.footer {
  font-size: 1rem;
  padding: 80px 0 20px;
  align-items: top;
  background-color: #000;
}


.footer h3 {
  margin-bottom: 2.0rem;
  color: #ccc;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-6 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-1 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style: none;
  color: #fff;
}

.app-store {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}


.copyright {
  text-align: center;
  padding-top: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.footer hr {
  background: none;
  height: 1px;
}

.f-logo small {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

span {
  color: #f17969;
}

/* ------------------ footer --------------------- */

@media screen and (max-width: 1080px) {



  .app-logo img {
    width: 100px;
  }

  .footer {
    font-size: 1rem;
    padding: 60px 0 20px;
    text-align: center;
  }

  .search-bar {
    width: 300px;
    position: relative;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
  }

  .filter-options,
  .location-options {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    padding: 10px;
  }

  .filter-options label,
  .location-options label {
    display: block;
    margin-bottom: 5px;
  }

  .search-bar:hover .filter-options,
  .search-bar:hover .location-options {
    display: block;
  }


}