<nav>



  <div class="logo">

    <button routerLink="landing"> <img src="assets/images/toplogo.jpg"></button>
    Smart<span>Fix</span>
  </div>
  <ul>
    <li>
      <a routerLink="profile" *ngIf="profile()">Profile</a>
    </li>
    <li><a routerLink="landing">Home</a></li>
    <li><a routerLink="job" *ngIf="loginRegisterdis()">Jobs</a></li>
    <li>
      <a routerLink="register" *ngIf="!loginRegisterdis()">Register</a>

    </li>
    <li>
      <a routerLink="login" *ngIf="!loginRegisterdis()">Login</a>

    </li>
    <li><a routerLink="contact">Contact</a>

    </li>

    <li>
      <a *ngIf="!loginRegisterdis()">Hire Now</a>


      <ul>
        <li><a routerLink="emplogin">Login</a></li>
        <li><a routerLink="empreg">Register</a></li>
      </ul>

    </li>



    <li>
      <a routerLink="aboutus">AboutUs</a>
    </li>
    <li>
      <a routerLink="logout" *ngIf="logout()">Logout</a>
    </li>
    <li>
      <a routerLink="logoutemp" *ngIf="logoutemp()">Logout</a>
    </li>
  </ul>


</nav>