<body>

    <div class="card text-center" style="width: 400px; margin-left: 400px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <div class="form-outline">
                <input type="email" id="typeEmail" class="form-control my-3" placeholder="Enter your EmailId"
                    [(ngModel)]="emailId" required />

                &nbsp;<button class="btn btn-primary w-10 h-100 " style="margin-top: 16px;"
                    (click)="forgetOtp(emailId)">SentOtp</button>

            </div>
            <input type="text" class="form-control my-3" placeholder="Enter Otp" [(ngModel)]="Otp">

            <button class="btn btn-primary w-100" (click)="forgetpass(emailId,Otp)">Reset password</button>

        </div>
    </div>

</body>