body {
    margin: 30px;
    text-align: center;

}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    justify-content: center;
    left: 120px;
    text-justify: auto;
    border: 1px solid black;
    padding: 20px;
}