<body>
    <div class="centered-container">
        <div class="col-sm-8">

            <h1>Contact Us</h1>
            <br>
            <div class="card">
                <h2>VintageCareer</h2>
                <br>
                <span><i class="fa-solid fa-location-dot"></i> Survey No. 126p, Psr Prime Tower, Beside Dlf Cyber City,
                    Dlf Cyber City, Indira Nagar, Gachibowli, Telangana 500032</span>
                <br>
                <span><i class="fa-solid fa-phone"></i> +918297343204/8885402151</span>
                <br>
                <span><i class="fa-solid fa-envelopes-bulk"></i> vintagecareer7@gmail.com</span>
            </div>

        </div>
    </div>


</body>