<body>
  <div class="wrapper">
    <form #loginForm="ngForm" (ngSubmit)="validateLogin(loginForm.value)">

      <div class="input-field">
        <input type="email" name="emailId" ngModel #emailId="ngModel" required minlength="2" maxlength="30">
        <label>Enter your email</label>
      </div>
      <div
        *ngIf="(emailId.errors?.['required'] && emailId.touched && emailId.invalid ) || (emailId.invalid && emailId.touched) || emailId.errors?.['minlength'] || emailId.invalid && emailId.dirty "
        class="errors">
        <p>!Please enter valid EmailId</p>
      </div>
      <div class="input-field">
        <input type="password" name="password" required minlength="2" maxlength="18" ngModel #password="ngModel">
        <label>Enter your password</label>
      </div>
      <div
        *ngIf="(password.errors?.['required'] && password.touched && password.invalid ) || (password.invalid && password.touched) || password.errors?.['minlength'] "
        class="errors">
        <p>!Please enter valid password</p>
      </div>

      <div>
        <p style="font-size: 20px; color: #000;">
          <button class="button button1" style="color: black;" (click)="refreshCaptcha()">
            <span class="fa">&#xf021;</span>
          </button>
          <span
            style="background-color:white; padding: 5px; border-radius: 5px; display: inline-block; min-width: 210px; letter-spacing: 8px; font-family:Copperplate, Papyrus, fantasy">{{
            captchaText }}</span>
        </p>
      </div>

      <div class="input-group">
        <span class="input-group-text"> </span>
        <input class="form-control" type="text" name="captcha" ngModel #captcha="ngModel" placeholder="Enter CAPTCHA"
          required />
      </div>
      <div *ngIf="captcha.errors?.['required'] && captcha.touched">
        <span class="errors">Please Enter CAPTCHA</span>
      </div><br />



      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember" />
          <p>Remember me</p>
        </label>
        <a routerLink="forget">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a routerLink="register">Register</a></p>
      </div>
    </form>
  </div>
</body>