.job-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 800px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.job-card:hover {
  transform: scale(1.01);
}

.mat-card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #000000;
}


.mat-card-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #444;

}

.mat-subtitle {
  font-size: 24px;

}

.mat-title {
  font-size: 20px;
  flex: 1;
}

.container {
  display: flex;
  justify-content: space-between;
}

p {
  text-align: right;
}

body {
  height: auto;
}

.jobs {
  text-align: center;
  font-size: xx-large;
  font: bold;

  font-family: Georgia, 'Times New Roman', Times, serif;
}

.matcard {
  display: grid;
  justify-content: center;
  align-items: center;
  height: auto;
}