<body>
  <br>

  <mat-card *ngFor="let job of job " class="job-card card" (click)="submit(job)">
    <div class="container">
      <mat-card-title class="mat-title">
        <h1>{{job.companyName}}: {{job.jobTitle}}</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <p class="mat-subtitle">{{ job.companyName }}</p>
      </mat-card-subtitle>
    </div>
    <mat-card-content><br>
      <span><i class="bi bi-suitcase-lg-fill"></i> 0-2yr</span>&nbsp; &nbsp;
      <span><i class="bi bi-geo-alt-fill"></i> {{ job.location }}</span>&nbsp; &nbsp;
      <span><i class="bi bi-currency-rupee"></i> {{ job.salary}} Lacs PA</span>&nbsp; &nbsp;

      <span><i class="bi bi-bar-chart-fill"></i> {{ job.skills}} </span>&nbsp; &nbsp;
      <br>
      <span><i class="bi bi-layout-text-sidebar"></i>&nbsp;Job Description: {{job.jobDescription}} </span>
    </mat-card-content>
  </mat-card>


</body>