body {
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 30px;
  background-color: lightslategray;
  background-image: "assets\Images\1.png";
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: flexbox;

}


.card1 {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
  flex: 1;
}

.card {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
  flex: 1;
}

.card1 {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
}

.card2 {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
}

.card3 {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
}

.card4 {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
}

.card5 {
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
}


h6 {
  margin-bottom: 20px;
  color: #336db9;
  text-decoration: underline;
  font-size: xx-large;
}

label,
input,
select,
textarea {
  display: block;
  margin-bottom: 10px;
}

input,
textarea,
select {
  width: calc(60% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button {
  background-color: rgb(0, 0, 0);
  height: 43px;
  width: 90px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.buttondiv {
  padding-top: 20px;
  padding-left: 250px;
}

.mandatory-label::after {
  content: " *";
  color: red;
}

.video {
  position: fixed;
  top: 50px;
  right: 0;
  width: 1000px;
  height: 800px;
  padding-right: 20px;
}