<div>
  <div class="container1">
    <div class="box1">
      <mat-card class="job-card1" routerLink="jobdetails">
        <div class="container2">
          <mat-card-title class="mat-title">
            <h1>{{data.jobTitle}}</h1>
          </mat-card-title>
          <mat-card-subtitle>
            <p class="mat">{{data.companyName}}</p>
          </mat-card-subtitle>
        </div>
        <mat-card-content><br>
          <span><i class="bi bi-suitcase-lg-fill"></i> 0-2yr</span>&nbsp; &nbsp;
          <span><i class="bi bi-geo-alt-fill"></i>{{data.location}} </span>&nbsp; &nbsp;
          <span><i class="bi bi-currency-rupee"></i>{{data.salary}} Lacs PA</span>&nbsp; &nbsp;
          <br>
          <br>
          <span><i class="bi bi-layout-text-sidebar"></i>&nbsp;Job Description: {{data.jobDescription}} </span>
        </mat-card-content>
        <hr>
        <mat-card-actions>
          <button mat-button class="btn btn-success button1" (click)="Apply(data)">Apply</button>
        </mat-card-actions>

      </mat-card>

    </div>
    <div class="box2">
      <mat-card class="job-card2 card" routerLink="jobdetails">

        <mat-card-title class="mat-title">
          <h1 class="filter">Filters</h1>
        </mat-card-title>
        <mat-card-title class="loc">Preferred Job location<span>&nbsp; <i
              class="bi bi-pencil-fill"></i></span></mat-card-title>

        <mat-card-content><br>
          <table>
            <tr>
              <td><button class="button" (click)="location('Hyderabad')"> Hyderabad </button></td>
              <td><a class="button" (click)="location('bangalore')">Bangalore</a></td>
            </tr>
            <tr>

            </tr>


          </table>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="box3">
      <div>
        <mat-card-title class="">
          <h1>Job description</h1>
        </mat-card-title>
      </div>
      <div class="require">
        <h2>Skills:</h2>
        <p>{{data.skills}}</p>
        <h2>Responsibilities:</h2>
        <ul>
          <li>Develop and maintain relationships with clients.</li>
          <li>Conduct market research and analysis.</li>
          <li>Meet and exceed sales targets.</li>
          <li>Prepare and deliver sales presentations.</li>
        </ul>

        <h2>Timings:</h2>
        <p>{{data.jobTimings}}</p>
        <h2>Additional Details: </h2>
        <p>Joining Location: {{data.location}}</p>
        <p>Last Date: {{data.lastDate}}</p>
        <h2>Degree&specialisation: </h2>
        <p>{{data.degree_specialisation}}</p>
        <h2>Preferred Language: </h2>
        <p>{{data.preferredLanguage}}</p>
        <h2>Employment Type: </h2>
        <p>Full Time, Permanent</p>
      </div>
    </div>
    <div class="box2">
      <mat-card class="job-card2 card" routerLink="jobdetails">

        <mat-card-title class="mat-title">
          <h1 class="filter">Filters</h1>
        </mat-card-title>
        <mat-card-title class="loc">Preferred Skills<span>&nbsp; <i
              class="bi bi-pencil-fill"></i></span></mat-card-title>

        <mat-card-content><br>
          <table>
            <tr>
              <td><a class="button" (click)="skills('Java')">Java</a></td>

              <td><a class="button" (click)="skills('.NET')">.NET</a></td>
            </tr>


          </table>
        </mat-card-content>
      </mat-card>

    </div>

  </div>
</div>