.job-card1 {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 700px;
  height: auto;
}

.job-card2 {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 400px;
  height: auto;
}

.box1 {
  flex: 1;
}

.box2 {
  flex: 1;
}

.box3 {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 700px;
  margin-bottom: 20px;
  flex: 1;
  height: auto;
}



.job-card:hover {
  transform: scale(1.01);
}

.filter {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}


.mat-card-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #444;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  /* Adjust padding as needed */
  border: none;
  border-radius: 30px;
  /* Adjust the radius value to control the amount of rounding */
  background-color: #71aa7d;
  /* Button background color */
  color: #fff;
  /* Button text color */
  font-size: 16px;
  /* Adjust font size as needed */
  cursor: pointer;
  margin: 3px;
  text-decoration: none;


}

.button1 {
  margin-left: auto;
}

.container1 {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns for the first two divs */
  grid-gap: 50px;
  margin-top: 20px;
}


.container2 {
  display: flex;
  justify-content: space-between;
}



form {
  margin: 20px;
}

.box {
  width: 50%;
  /* Each box takes up 50% of the container width */
  float: left;
}

.container {
  width: 100%;
  /* You can adjust the width as needed */
}