<!--  -->

<body>
    <div class="container">
        <div class="card">
            <div class="card__1">

                <img src="assets\images\profile.jpg">
                <div class="content">
                    <h1>{{user.fullName}}</h1>

                </div>

            </div>
            <div class="card__2">
                <br>
                <br>
                <div class="contact-card">
                    <div class="contact-info">
                        <div class="gender">Gender: {{user.gender}}</div>
                        <div class="email">Gmail: {{user.emailId}}</div>
                        <div class="phone">Phone: {{user.phoneNumber}}</div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>