@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans Condensed', sans-serif;
}

body {
  background: #f2f2f2;
}

nav {
  background: #1b1b1b;
  padding: 0 80px;
}

nav:after {
  content: ' ';
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 60px;
  cursor: pointer;
}

nav .logo span {
  color: cyan;
}

nav ul {
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: cyan;
  transition: 0.5s ease-in;
  border-radius: 10px;
  box-shadow: 0 0 5px #33ffff,
    0 0 5px #55ffff,
    0 0 5px #66ffff;
}

nav ul ul li a:hover {
  color: cyan;
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  border-top: 3px solid cyan;
  top: 70px;
  opacity: 0;
  text-align: center;
  visibility: hidden;
}

nav ul ul ul {
  border-top: none;
}

nav ul li:hover>ul {
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
}

.fa-plus {
  margin-left: 15px;
  font-size: 15px;
}

.home {
  display: flex;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
  height: 90vh;
  width: 100%;
  background-size: cover;
  color: #fff;
  min-height: 500px;
  padding: 0 80px;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content {
  line-height: 1;
}

.home .home-content .text-1 {
  font-size: 3.0rem;
  font-weight: 100;
}

.home .home-content .text-2 {
  font-size: 7rem;
  font-weight: 900;
  margin-left: -3px;
  text-transform: uppercase;
}

.home .home-content .text-3 {
  font-size: 4.5rem;
}

.home .home-content .text-3 span {
  color: cyan;
  font-weight: 500;
}

/* search bar sytles */

.widget-26 {
  color: #3c4142;
  font-weight: 400;
}

.widget-26 tr:first-child td {
  border: 0;
}

.widget-26 .widget-26-job-emp-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.widget-26 .widget-26-job-title {
  min-width: 200px;
}

.widget-26 .widget-26-job-title a {
  font-weight: 400;
  font-size: 0.875rem;
  color: #3c4142;
  line-height: 1.5;
}

.widget-26 .widget-26-job-title a:hover {
  color: #68CBD7;
  text-decoration: none;
}

.widget-26 .widget-26-job-title .employer-name {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
  color: #3c4142;
}

.widget-26 .widget-26-job-title .employer-name:hover {
  color: #68CBD7;
  text-decoration: none;
}

.widget-26 .widget-26-job-title .time {
  font-size: 12px;
  font-weight: 400;
}

.widget-26 .widget-26-job-info {
  min-width: 100px;
  font-weight: 400;
}

.widget-26 .widget-26-job-info p {
  line-height: 1.5;
  color: #3c4142;
  font-size: 0.8125rem;
}

.widget-26 .widget-26-job-info .location {
  color: #3c4142;
}

.widget-26 .widget-26-job-salary {
  min-width: 70px;
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.widget-26 .widget-26-job-category {
  padding: .5rem;
  display: inline-flex;
  white-space: nowrap;
  border-radius: 15px;
}

.widget-26 .widget-26-job-category .indicator {
  width: 13px;
  height: 13px;
  margin-right: .5rem;
  float: left;
  border-radius: 50%;
}

.widget-26 .widget-26-job-category span {
  font-size: 0.8125rem;
  color: #3c4142;
  font-weight: 600;
}

.widget-26 .widget-26-job-starred svg {
  width: 20px;
  height: 20px;
  color: #fd8b2c;
}

.widget-26 .widget-26-job-starred svg.starred {
  fill: #fd8b2c;
}

.bg-soft-base {
  background-color: #e1f5f7;
}

.bg-soft-warning {
  background-color: #fff4e1;
}

.bg-soft-success {
  background-color: #d1f6f2;
}

.bg-soft-danger {
  background-color: #fedce0;
}

.bg-soft-info {
  background-color: #d7efff;
}


.search-form {
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
}

.search-form input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
  border: 2px solid black;
}

.search-form select {
  background: transparent;
  border: 0;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
  border: 2px solid black;
}

.search-form select:focus {
  border: 0;
}

.search-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  border: 2px solid black;
}

.search-form button svg {
  width: 24px;
  height: 24px;
}

.search-body {
  margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
  margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
  color: #3c4142;
  margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
  color: #727686;
}

.search-body .search-result .result-header {
  margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
  color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
  display: flex;
  align-items: center;
}

.search-body .search-result .result-header .result-actions .result-sorting span {
  flex-shrink: 0;
  font-size: 0.8125rem;
}

.search-body .search-result .result-header .result-actions .result-sorting select {
  color: #00e5ff;
}

.search-body .search-result .result-header .result-actions .result-sorting select option {
  color: #3c4142;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search-body .search-filters {
    display: flex;
  }

  .search-body .search-filters .filter-list {
    margin-right: 1rem;
  }
}

.card-margin {
  margin-bottom: 1.875rem;
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.logo span {
  color: cyan;
}

.logo {
  float: left;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 60px;
  cursor: pointer;
}

.ashok {
  margin-right: 70px;
}