<section class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="text-2">Your Career Adventure Starts Here !<span></span></div>
    </div>

  </div>
</section>



<div>
  <!-- <img src="assets/Images/companies.png" class="ashok">
  <img src="assets/Images/companies.png" class="ashok1"> -->
</div>