<body>
  <div class="wrapper"> <span>
      <h2>Create a new account</h2>
    </span>
    <form #regForm="ngForm" novalidate (ngSubmit)="validateRegister(regForm.value)">
      <div class="input-field">
        <input type="text" name="fullName" class="form-style " id="logname" autocomplete="off" ngModel
          #fullName="ngModel" required>
        <label>Enter your Fullname</label>
      </div>
      <div *ngIf="(fullName.errors?.['required'] && fullName.touched)" class="errors">
        <p>!Please enter your name</p>
      </div>
      <div>
        <select name="gender" ngModel #gender="ngModel" required class="">
          <option value="" selected>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Others</option>
        </select>
      </div>
      <div class="input-field">
        <input type="text" name="phoneNumber" class="form-style " ngModel #phoneNumber="ngModel" autocomplete="off"
          required maxlength="10">
        <label>Enter your phone number</label>

      </div>
      <div
        *ngIf="((phoneNumber.errors?.['required'] && phoneNumber.touched)  || (phoneNumber.dirty && !isPhoneNumberValid(regForm.value.phoneNumber)))"
        class="errors">
        <div>!Please enter valid phoneNumber</div>
      </div>


      <div class="input-field">
        <input type="email" name="emailId" class="form-style " ngModel #emailID="ngModel" autocomplete="off" required
          email minlength="5" maxlength="30">

        <label>Enter your email</label>
      </div>
      <div
        *ngIf="(emailID.errors?.['required'] && emailID.touched && emailID.invalid ) || (emailID.invalid && emailID.touched) || (emailID.invalid && emailID.dirty)"
        class="errors">
        <p>!Please enter valid Email-ID</p>
      </div>


      <div class="input-field">

        <input type="password" name="password" class="form-style" autocomplete="off" required ngModel
          #Password="ngModel">


        <label>Enter your password</label>
      </div>
      <div
        *ngIf="(Password.errors?.['required'] && Password.touched) || (!isPasswordValid(regForm.value.password) && Password.dirty)"
        class="errors">
        <p>!Please Enter valid password</p>
      </div>





      <button type="submit" [disabled]="!regForm.valid">Register</button>

    </form>
  </div>
</body>